@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
    --background: #000000;
    --text-primary: #ffffff;
    --text-secondary: #c3c3c3;
    --accent: #9759ae;
    --border: #333333;
    --card-bg: #111111;
}

.light {
    color-scheme: light;
    --background: #ffffff;
    --text-primary: #171717;
    --text-secondary: #404040;
    --accent: #ff8200;
    --border: #e5e5e5;
    --card-bg: #f5f5f5;
}

html,
body {
    background-color: var(--background);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--text-primary);
    overscroll-behavior-y: contain;
}

hr {
    height: 1px;
    width: 100%;
    border: 0 none;
    margin: 30px 0 30px 0;
    background-color: var(--border);
}

.prose :where(hr):not(:where([class~="not-prose"] *)) {
    margin: 30px 0 30px 0 !important;
}

::selection {
    @apply bg-[#9759aea2] dark:bg-[#FF8200] text-black;
}

::-moz-selection {
    @apply bg-[#9759AE] dark:bg-[#FF8200] text-black;
}

.noselect {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    cursor: default;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.nav-fade {
    --mask: linear-gradient(
            to left,
            rgba(0, 0, 0, 1) 0,
            rgba(0, 0, 0, 1) 60%,
            rgba(0, 0, 0, 0) 95%,
            rgba(0, 0, 0, 0) 0
        )
        100% 50% / 100% 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Disable horizontal scrolling on desktop screens only */
@media (min-width: 1025px) {
    .desktop-no-horizontal-scroll {
        overflow-x: hidden !important;
    }
}

.highlight {
    font-weight: 700 !important;
    color: var(--text-primary) !important;
}

.large-highlight {
    @apply font-bold not-italic hover:text-[#9759AE] dark:hover:text-[#FF8200];
    color: var(--text-primary);
}

.name-highlight {
    @apply font-bold not-italic;
    font-weight: 800 !important;
    color: var(--text-primary) !important;
    font-size: 1.65rem !important;
}

.p-link {
    @apply font-bold text-black underline hover:text-[#9759AE] dark:text-neutral-300 dark:hover:text-[#FF8200];
}

.cls-1 {
    fill: #fff;
}

.prose .anchor {
    @apply invisible absolute no-underline;

    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 800px;
    cursor: pointer;
}

.project-h .anchor {
    @apply absolute no-underline opacity-0;

    display: block;

    padding-right: 0.5em;
    width: 100%;
    cursor: pointer;
}

.anchor:hover {
    @apply visible;
}

.project-h .anchor:hover {
    @apply opacity-100;
    margin-left: -1em;
}

.prose a {
    @apply font-bold text-white decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all duration-100 dark:decoration-neutral-600;
}

.project-h h3 a {
    @apply font-bold text-white decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all dark:decoration-neutral-600;
}

.prose a:hover {
    font-size: 15px !important;
}

.prose .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: "#";
}

.project-h .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: "#";
}

.prose *:hover > .anchor {
    @apply visible;
}

.project-h *:hover > .anchor {
    @apply opacity-100;
}

.prose pre {
    @apply border border-neutral-300 bg-neutral-900;
}

.prose code {
    @apply rounded-lg border border-neutral-100 bg-neutral-100 px-1 py-0.5 text-neutral-300 dark:border-neutral-300 dark:bg-neutral-900 dark:text-neutral-200;
}

.prose pre code {
    @apply p-0 text-neutral-300 dark:text-neutral-200;
    border: initial;
}

.prose img {
    /* Don't apply styles to next/image */
    @apply mb-1 h-full rounded-lg object-contain sm:mb-2;
}

.prose img:first-child {
    @apply mt-0;
}

.prose > :first-child {
    /* Override removing top margin, causing layout shift */
    /* margin-bottom: 1.25em !important; */
}

code[class*="language-"],
pre[class*="language-"] {
    @apply text-neutral-50;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.prose .tweet a {
    text-decoration: inherit;
    font-weight: inherit;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

.prose .callout > p {
    margin: 0 !important;
}

.prose {
    max-width: 100% !important;
}

[data-rehype-pretty-code-fragment] code {
    @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-white;
    counter-reset: line;
    box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
    @apply py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
    @apply bg-slate-500 bg-opacity-10;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}

[data-rehype-pretty-code-title] {
    @apply rounded-t-lg border border-[#333333] bg-[#1c1c1c] px-4 py-3 font-mono text-xs font-medium text-neutral-200;
}

[data-rehype-pretty-code-title] + pre {
    @apply mt-0 rounded-t-none border-t-0;
}

.prose p {
    @apply mb-6 text-sm font-medium leading-5 tracking-wide text-neutral-300;
}

.prose li {
    @apply text-sm font-medium text-neutral-300;
}

.prose li::marker {
    @apply text-sm font-bold text-white;
}

.prose strong {
    @apply text-sm font-medium text-white transition-all duration-100;
}

.prose h2 {
    @apply mb-6 font-medium text-white;
}

.prose h3 {
    @apply mb-6 font-medium text-white;
}

.prose h4 {
    @apply mb-6 font-bold text-white;
}

.project-h h3 {
    @apply relative cursor-pointer whitespace-nowrap text-[28px] font-bold leading-7 text-white;
}

#projects-container :last-child {
    @apply border-b-0;
}

.callout p {
    @apply text-sm font-medium text-neutral-100;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
    @apply border-l-2 border-neutral-300 pl-4 dark:border-neutral-300;
}

.prose pre {
    @apply rounded-none;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
}

.prose :where(h4):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
}

.entry-summary a,
.gallery-summary a,
.page-summary a {
    @apply font-bold text-neutral-900 dark:text-neutral-100;
}

.entry-summary a:hover,
.gallery-summary a:hover,
.page-summary a:hover {
    @apply text-[#9759AE] underline dark:text-[#FF8200];
}

.warn-tooltip {
    @apply transition-all duration-300 ease-out;
}

.warn-tooltip a {
    @apply font-bold;
}

.warn-tooltip a:hover {
    @apply underline;
}

@keyframes spin-slow {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 10s linear infinite;
}
